$('.message').append("<p style='text-align: right;'><%= @chat.message %></p>");
<!--$('.message').append("<div class="chat-img"><!%= attachment_image_tag(current_user, :profile_image,:fill, 50, 50,fallback: "no_image.jpg", size: "50x50",class: "rounded-circle float-right")%></div>");-->
$('input[type=text]').val("");